
.newtask form {
    width: 47.6rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.newtask input {
    border: 0;
    width: 39.87rem;
    border-radius: 8px;
    color: var(--gray-300);
    background-color: var(--gray-500);
    border-color: var(--gray-700);
    font-size: 1rem;
    padding: 1rem;
}

.newtask input:focus {
    outline: transparent;
    box-shadow: 0 0 0 1px var(--purple-dark);
    color: var(--gray-100);
}

.newtask button {
    margin-left: .5rem;
    border: 0;
    width: 5.62rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--blue-dark);
    color: var(--gray-100);
    font-weight: bold;
    font-size: 0.87rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.newtask button:hover {
    background-color: var(--blue);
    color: var(--gray-100);
}

.newtask .inputError {
    border: 1px solid var(--danger);
}

.newtask .errorMessage {
    color: var(--danger);
    background-color: transparent;
    padding: 8px 15px;
    font-size: 0.857rem;
    outline: none;
}


