
.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex: 1;
    width: 95%;
    padding: 1rem;    
    border-radius: 8px;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
}

.taskItem .checkboxDefault {
    border-radius: 50px;
    width: 17.45px;
    height: 17.45px;
    border: 2px solid var(--blue);
}

.taskItem .checkboxDone {
    border-radius: 50px;
    width: 17.45px;
    height: 17.45px;
    border: 2px solid var(--purple-dark);
    background-color: var(--purple-dark);
    content: "-";
    color: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskItem .checkDoneIcon {
    color: var(--gray-100);
}

.taskItem .title {
    color: var(--gray-100);
    font-size: 0.875rem;
    margin-left: -46.27px;
    text-align: left;
    width: 86%;
    height: auto;
}

.taskItem .titleDone {
    color: var(--gray-300);
    font-size: 0.875rem;
    margin-left: -46.27px;
    text-decoration: line-through;
    text-align: left;
    width: 86%;
    height: auto;
}

.taskItem .trashIcon {
    width: 12.48px;
    height: 14px;
}